$breackpoint_xl: 1024px;
$breackpoint_md: 767px;
$breackpoint_sm: 576px;

@mixin desktop() {
  @media (min-width: $breackpoint_xl) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breackpoint_sm) and (max-width: $breackpoint_xl) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $breackpoint_sm) {
    @content;
  }
}

@mixin mobilePlus() {
  @media (max-width: 767px) {
    @content;
  }
}

.providers_cards {
  display: grid;

  @include mobile() {
    display: flex;
    overflow: scroll;

    .item {
      min-width: 270px;
      width: 100%;
    }
  }

  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  .item {
    background: rgba(249, 249, 249);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    img.logo {
      width: 100%;
      max-width: 150px;
    }

    .l {
      &.d {
        display: grid;

        img {
          display: block;
          height: fit-content;
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #242424;
    }
  }
}

.provider_header {
  padding-top: 20px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .pr.rows {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;

    .rates {
      font-size: 16px;
      line-height: 130%;
      color: #0971e8;
      align-items: center;
      display: flex;
      gap: 10px;
    }

    .link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #242424;
    }
  }

  .act_btns {
    display: flex;
    gap: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
    flex-direction: column;
    gap: 30px;

    .pr.rows {
      flex-wrap: wrap;
      gap: 20px;

      .rates {
        flex: 1 1 auto;
        gap: 0;
        flex-direction: column;
        align-items: end;

        img {
          width: 72px;
        }
      }
    }

    .act_btns {
      flex-direction: column;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

.header.lite {
  background: none;
  padding-bottom: 40px;

  .header_main_menu_call svg path,
  .header_main_menu_burger svg path {
    stroke: rgba(9, 113, 232, 1);
  }

  .header_nav_f {
    border-top: 1px solid rgba(235, 235, 235, 1) !important;
    border-bottom: 1px solid rgba(235, 235, 235, 1) !important;
  }

  a {
    color: #242424 !important;

    .header_nav_el {
      border-right: none !important;
      border-left: 1px solid rgba(235, 235, 235, 1) !important;
    }

    &:last-child {
      border-right: 1px solid rgba(235, 235, 235, 1);
      border-left: none !important;
    }
  }

  .header_main {
    color: #242424;

    .header_main_callBtn {
      a {
        color: #0971e8 !important;
      }
    }
  }
}

.breadcrumbs {
  @include mobile() {
    display: none;
  }

  margin-bottom: 50px;

  .item {
    display: inline-block;
    margin-right: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #a2a2a2;
    text-decoration: underline;
    text-underline-offset: 3px;

    &.active {
      color: #242424;
      text-decoration: none;
    }
  }
}

.provider-slctr {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .item {
    padding: 10px 20px;
    color: #676767;
    border: 1px solid #ebebeb;
    border-radius: 30px;
  }

  .item.active {
    background: #ebebeb;
    color: #242424;
  }

  @include mobile() {
    margin-top: 22px;
    overflow: scroll;
    .item {
      flex: 0 0 auto;
    }
  }
}

.all_trf_view.m40 {
  margin-top: 40px;
}

.pd.brd.tp0 {
  padding-top: 0px;
}

.equip-block {
  margin: 60px 0px 40px;
  display: flex;
  padding: 80px 100px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  gap: 100px;

  @include mobilePlus() {
    margin-top: 40px;
    gap: 60px;
    padding: 55px 15px 30px 15px;
    flex-direction: column;

    .img {
      text-align: center;
    }

    img {
      max-width: 200px;
      width: 100%;
    }
  }

  @include tablet() {
    margin-top: 40px;
    gap: 60px;
    padding: 80px 100px;
    flex-direction: column;

    .img {
      text-align: center;
    }
  }

  .txt {
    max-width: 550px;
  }

  .hdr {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #242424;
    margin: 20px 0px 15px;

  }

  .tt {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #676767;

  }
}

.filter-tabs {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  .item {

    &.active,
    &:hover {
      background: #EBEBEB;
      color: #242424;
    }

    text-align: center;
    padding: 15px 40px;
    color: #676767;
    border: 1px solid #EBEBEB;
    border-right: none;

    &:first-child {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-right: 1px solid #EBEBEB;;
    }
  }

  @include mobilePlus() {
    overflow: scroll;
    margin: 40px 0px;

    .item {
      flex: 0 0 auto;

    }
  }
}

.tarif-hdr-i {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #676767;

  @include mobilePlus() {
    flex-direction: column;
    gap: 20px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #242424;

    &.ph-l {
      text-decoration: none;
    }
  }
}


.no-mb {
  margin-bottom: 0;
}

.no-mt {
  margin-top: 0;
}

.no-brd {
  border: none;
}

.g-20 {
  gap: 20px;
  display: flex;
}

.m-750 {
  max-width: 750px;
}
.m-710 {
  max-width: 710px;
}

.ceo_txt.lg {
  h1 {
    margin: 0;
  }

  h3 {
    margin: 30px 0px 20px;
  }

  .txt_reg {
    margin: 0px;
  }

  .read-more {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #0971E8;
  }
}

.adv-bl {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    flex: 0 0 auto;
  }

  .item {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    padding: 40px 20px;
    flex-direction: row;
  }

  @include mobilePlus() {
    overflow: scroll;
    margin-top: 40px;

    .item {
      flex-direction: column;
      width: 273px;
    }
  }
}

.provider_header.no-brd {
  @include mobilePlus() {
    padding: 0;
    align-items: start;

    .pr.rows {
      flex-direction: column;

      .rates {
        flex-direction: row;
      }
    }
  }
}

.act_btns.g-20 {
  @include mobilePlus() {
    flex-direction: column;
    gap: 20px;

    button {
      width: 100%;
    }
  }
}

h2.pr-inf {
  @include mobilePlus() {
    margin: 40px 0px 30px;
  }
}

.req_f_inp {
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  padding: 15px 20px;
}

.prv_lbl {
  font-size: 14px;
  line-height: 20px;
  color: #a2a2a2;
}

.tarif-page {
  .tarif-info {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .options {
      border: 1px solid #EBEBEB;
      border-radius: 10px;
      .section {
        padding: 40px 20px;
        &:first-child{
          border-bottom: 1px solid #EBEBEB;
        }
        display: flex;
        flex-direction: column;
        gap: 20px;

        .it {
          align-items: baseline;
          display: grid;
          grid-template-columns: 2fr 1fr;

          .nm {
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: #242424;

            span {
              margin-left: 13px;
            }
          }

          .val {
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            color: #242424;

            &.txt-reg {
              font-weight: 300;
              font-size: 14px;
              line-height: 20px;
              color: #242424;
            }
          }
        }

      }
    }
  }

  .order {
    max-width: 370px;
    height: fit-content;
    border: 1px solid #EBEBEB;
    border-radius: 10px;

    .in {
      .tt {
        margin-bottom: 22px;
        line-height: 26px;
      }

      padding: 40px 20px 30px 20px;
      border-bottom: 1px solid #EBEBEB;

      .tarif_price {
        margin: 12px 0px;
      }
    }

    .act {
      padding: 30px 20px 40px 20px;

      button,
      input {
        width: 100%;
      }

      button {
        margin: 20px 0px 15px;
      }

      .prv_lbl {
        font-size: 12px;
        line-height: 18px;
        a{
          color: inherit;
        }
      }
    }
  }
  @include mobilePlus(){
    display: none;
  }
}

.t_line.pagin_bottom{
  a{
    display: none;
  }
  margin-top: 50px;
  justify-content: center;
  .nvgs{
    display: flex;
    align-items: center;
    gap: 15px;
    .nvg.prev {
      margin: 0;
    }
    @include mobilePlus(){
      display: none;
    }
  }

  @include mobilePlus(){
    a{
      display: block;
    }
  }

}

.provider_header + .tarifs_list{
  margin:20px 0px 40px
}
.tarif_filters_controllers + .provider_header{
  margin-top: 50px;
}